@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.time-schedule {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    box-shadow: -2px 2px 8px rgba(94, 115, 136, 0.2);
    backdrop-filter: blur(36px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 32px 0px 0px 32px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.bg-offer {
    /* position: absolute;
  width: 480px;
  height: 277px;
  left: 560px;
  top: 225px; */
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -2px 2px 8px rgba(94, 115, 136, 0.2);
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
}

.ads-section {
    /* position: absolute; */
    /* background-image: url('../public/logo512.png'); */
    height: 300px;
    width: 300px;
}

.stats-bg {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(94, 115, 136, 0.16);
    backdrop-filter: blur(32px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 32px;
}

.ad-bg {
    /* background: rgba(255, 255, 255, 0.2); */
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: -2px 2px 8px rgba(94, 115, 136, 0.2);
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    /* border-radius: 8px; */
}

.redmond {
    border: red 50px solid;
}

@tailwind base;
@tailwind components;
@tailwind utilities;